<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EdurekaScreenshotSuite">
  <test thread-count="5" name="ScreenshotTest">
    <classes>
      <class name="headlessBrowser.Phantom"/>
    </classes>
  </test> <!-- ScreenshotTest -->
</suite> <!-- EdurekaScreenshotSuite -->
